.full-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.container {
  width: 95vw;
  height: 100vh;
  max-width: 100%;
  border-radius: 2rem;
}

.image-gallery {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-gap: 0.5rem;
  min-height: 400px;
  max-height: fit-content;
  margin: 0;
  overflow: auto;
}

.image-container {
  cursor: pointer;
  scale: 1;
  height: 4rem;
  user-select: none;
  transition: all 100ms ease-in-out;
  border-radius: 0.4rem;
  text-align: center;
  background-color: black;
  margin: 0;
}

.is-selected {
  border: 5px solid #00b7fa;
}

.is-not-selected {
  border: 5px solid transparent;
}

.image-container:hover {
  filter: grayscale(0%);
  scale: 1.1;
  border-radius: 1rem;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 0;
}

.image-container:hover .text-img-date {
  font-weight: bolder;
}
.image-container:hover .text-img-name {
  font-weight: bolder;
  font-size: x-large;
  color: rgb(255, 255, 255);
}

.text-img-name {
  font-weight: bolder;
  font-size: large;
  color: rgba(255, 255, 255, 0.458);
}

.text-img-date {
  color: rgba(255, 255, 255, 0.251);
  font-size: 0.8rem;
  font-weight: 600;
}

/* ============== Med Devices(ipad) ============== */
@media screen and (max-width: 1124px) {
  .image-gallery {
    padding: 1rem;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 0.5rem;
    min-height: 800px;
    max-height: fit-content;
  }
}

/* ============== Small Devices(phone) ============== */
@media screen and (max-width: 664px) {
  .image-gallery {
    padding: 1rem;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0.8rem;
    min-height: 1000px;
    max-height: fit-content;
  }
}

@media screen and (max-width: 300px) {
  .image-gallery {
    padding: 0.4rem;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.8rem;
    min-height: 1100px;
    max-height: fit-content;
  }
}
